.DiaryItem{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
}

.DiaryItem .img_section{
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px; 
}

.DiaryImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.DiaryItem .info_section {
    flex-grow: 1;
    margin-left:25px;
    cursor: pointer;    
}

.DiaryItem .info_section .date_wrapper{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.DiaryItem .info_section .content_wrapper{
    font-size: 18px;
}

.DiaryItem .button_section{
    min-width: 70px;
}